/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 36px auto 32px;
}

button {
  border: 1px solid #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover,
button:focus {
  background: #6c8cff;
  border: 1px solid #6c8cff;
}

input {
  border: 2px solid #c3bebe;
  border-radius: 4px;
  width: 272px;
  height: 35px;
}

input:hover,
input:focus {
  border-radius: 4px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

  padding: 0 20px;
}

.gallery-item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  border: 1px solid #808080;
  width: 360px;
  height: 200px;
}
.gallery-image {
  width: 360px;
  height: 160px;
}
.info {
  display: flex;
  justify-content: space-evenly;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.info-value {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  margin: auto;
  width: 48px;
  height: 48px;
  border: 5px solid #c2bdbd;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}
